{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="my-4">
        Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !
    </h1>
{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center my-2">
        <a href="{{ path('task_create') }}" class="btn btn-success mr-2">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list', {'type': 'todo'}) }}" class="btn btn-info mr-2">Consulter la liste des tâches à faire</a>
        <a href="{{ path('task_list', {'type': 'done'}) }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
    </div>
{% endblock %}
