{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'action' : path('task_create'), 'attr': {'novalidate': 'novalidate'}}) }}

        <!-- Fields -->
        {{ form_widget(form) }}

        <!-- Buttons -->
        <div class="row">
            <div class="col">
                <button type="submit" class="form-control btn btn-success px-5">Ajouter</button>
            </div>

            <div class="col">
                <a href="{{ path('task_list', {'type': 'todo'}) }}" class="form-control btn btn-outline-secondary">
                    Annuler
                </a>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}
