{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mb-4">
        Oups! cette page n'existe pas.
    </h1>

    <p class="text-center">
        <a href="{{ path('homepage') }}" class="btn btn-warning">Retourner à la page d'accueil</a>
    </p>
{% endblock %}